 <!--
//////////////////////////////////////////////////////////////////
//////////// HOMEPAGE NEEDS WORK ON PULLING DATA FROM DB ////////
////////////////////////////////////////////////////////////////
-->
<div class="main-wrapper ">
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<span class="h6 d-inline-block mb-4 subhead text-uppercase">Have you lifted today?</span>
				<h1 class="text-uppercase text-white mb-5"><span class="text-color">Do you even Lift?</span></h1>
			</div>
		</div>
	</div>
</section>
<section class="mt-80px">
	<div class="container">
		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
					<h3 class="mt-3">About</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<h3 class="mt-3">Member Data</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
					<a href="" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Your profile</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<h3 class="mt-3">Popular Workouts!</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
					<p class="mt-3 mb-4">192 people ticked in total</p>
				</div>
			</div>
		</div>
	</div>
</section>
</div>