<div id="login-container">
    <div class="login-box">
    <h2>Login</h2>
    <form action="">
      <div class="user-box">
        <input id="email-login" type="text">
        <label for="user">Email Address</label>
      </div>
      <div class="user-box">
        <input id="password-login" type="password" data-type="password">
        <label for="pass">Password</label>
      </div>
      <a type="submit" class="login-btn" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
    </form>
  </div>
</div>
<div id="signup-container">
  <div class="login-box">
    <h2>Sign up</h2>
    <form action="">
      <div class="user-box">
        <input id="name-signup" type="text">
        <label for="name-signup">Full Name</label>
      </div>
      <div class="user-box">
        <input id="email-signup" type="text">
        <label for="email-signup">Email Address</label>
      </div>
      <div class="user-box">
        <input id="password-signup" type="password" data-type="password">
        <label for="password-signup">Password</label>
      </div>
      <a type="submit" class="signup-form" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign Up
      </a>
    </form>
  </div>
</div>



{{!-- Render login script --}}
<script src="./js/login.js"></script>
