<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Email Address</label>
					<input id="email-login" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="password-login" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<button type="submit" class="button login-btn" value="Sign In">Sign In</button>
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjQ3vCI0dz5AhVQ3TgGHQAsCgQQyCl6BAgFEAM&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&usg=AOvVaw0aHtehaphMhOCAkCydRLZU" target="_blank">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="name-signup" class="label">Full Name</label>
					<input id="name-signup" type="text" class="input">
				</div>
				<div class="group">
					<label for="email-signup" class="label">Email Address</label>
					<input id="email-signup" type="text" class="input">
				</div>
				<div class="group">
					<label for="password-signup" class="label">Password</label>
					<input id="password-signup" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<button type="submit" class = "button signup-form" value="Sign Up">Sign Up</button>
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>

{{!-- Render login script --}}
<script src="./js/login.js"></script>
