<div class="row">
    <div class="col-auto">
        <h2> Welcome, {{user_name}}!</h2>
    </div>
</div>

<div class="col-md-2">
    <h2>All workouts</h2>

    {{#each workouts as |workout|}}
    <div class="workouts">
        <h3>{{workout}}</h3>
        <p>{{workout}}</p>
    {{else}}
    <p>No more workouts available</p>
    {{/each}}
    <button type="submit" class="btn btn-primary" id="edit">Edit</button>
    <button type="submit" class="btn btn-primary" id="update">Update</button>
</div>

<script src="../public/js/workout.js"></script>