@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*link*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);

/* Colours */
:root{
	--mainDocBlue: rgb(7, 127, 255);
	--contrastDocBlue: rgb(0, 74, 154);
}

/* BODY */

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}

/* Headers */

.text-main{
	color: var(--mainDocBlue);
}

.text-color{
	color: var(--contrastDocBlue);
}

.navbar-nav{
	padding-right: 30px;
}

/* LOGIN BOX */

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://st2.depositphotos.com/9527076/12336/i/950/depositphotos_123362172-stock-photo-fitness-workout-background-dumbbells-on.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition: ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

/* FOOTER */

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.intensityBttns{
	display: flex;
	justify-content: flex-start;
}

/* CUSTOM CLASSES */

.custom-spacing {
	padding-top: 13%;
}

.custom-box {
	background: rgba(0,0,0,.5);
	box-shadow: 0 15px 25px rgba(0 0 0 / 50%);
	border-radius: 10px;
	margin: 5px;
}

.card {
	--bs-card-bg: none;
}

.font-head {
	font-family: 'Bebas Neue', cursive;
	font-size: calc(1.325rem + .9vw);
	color: #F1EEE6;
	text-align: center;
}

.custom-font {
	text-align: center;
	font-family: 'Arial', sans-serif;
	color: #F1EEE6;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
}

.custom-button {
	width: 150px;
	margin: auto;
}

.intensity-button {
	width: 40px;
	margin: auto;
}

/* PROFILE BUTTON ON HOMEPAGE */

.profile-wrap {
	padding-top: 10px;
}
  
.profile-button {
display: block;
position: relative;
font-size: 20px;
line-height: 1em;
text-transform: uppercase;
background: rgb(0, 74, 154);
padding: 10px 18px;
text-decoration: none;
color: #fff;
margin: 0 0px;
border-radius:5px;
overflow:hidden;
text-align: center;
}
  
.profile-button:after,
.profile-button:before {
content: "";
display: block;
position: absolute;
border: 2px solid #49839900;
width: 10px;
top:0;
bottom:0;
transition:all 0.6s cubic-bezier(0.05, 3, 1, 1) 0s;
}

.profile-button:before {
border-right: 0;
margin-right: 5px;
left:0;
}
  
.profile-button:after {
border-left: 0;
margin-left: 5px;
right:0;
}
  
.profile-button:hover {
background: rgba(6, 33, 60, 0.4);
color: #F1EEE6;
}

.profile-button:hover:after,
.profile-button:hover:before {
border-color: rgb(0, 74, 154);
}

.custom-nav {
	display: flex;
	padding-right: 275px;
}

/* Custom class for text top left of page */
.custom-logo {
	display: flex;
    margin-left: 300px;
    padding-top: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #FFF;
	letter-spacing: 10px;
	font-size: 75px;
}
/* Custom class for nav link colors */
.nav-color {
    color: #FFF;
    font-size: 19px;
	font-weight: normal;
}

.nav-color:hover {
    color: #FFF;
}

.workout-header{
	color: #F1EEE6;
	text-align: center;
}

.custom-card {
	display: flex;
	justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {

	.custom-nav {
		display: flex;
		justify-content: center;
		flex-direction: row;
		font-size: 25px;
		float: none;
		padding-right: 0;
		margin: auto;
		text-align: center;
	}
	.custom-logo {
		text-align: center;
		margin: 0;
	}
}

ul {
	list-style-type: f44b;
	margin: 5px;
}

li {
	padding: 5px;
}


/* change before commit */

.lift-about {
	text-decoration: solid;
	text-align: center;
}
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: white;
}
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

  #check-box-green {
	color: rgb(101, 236, 101);
  }
